h1, h2, h3, h4, h5 {
  font-family: 'Gothic A1', sans-serif;
}
p { font-family: 'Roboto', sans-serif; }


.loading-indicator {
  margin-top: 50px;
  text-align: center;
}
.loading-indicator img {height: 100px;}

.suggestion {
  background-color: #f1f1f1;
  color: gray;
  font-size: 80%;
  padding: 0.25em 0.7em;
}

.article {
  border: 1px solid #f1f1f1;
  padding: 5%;
  border-radius: 5px;
  overflow: auto;
}

.article h4 {
  margin: 0px;
  font-size: 0.9em;
}

.article p {
  margin: 0px;
  font-size: 0.7em;
  color: gray;
}

.event {
  border: 1px solid #f1f1f1;
  padding: 2%;
  border-radius: 5px;
  overflow: auto;
}

.event-image-holder {
  width: 80px;
  float: left;
  margin-right: 30px;
}

.event-image-holder img {
  width: 80px;

}

.event-text-holder h3 {
  font-size: 1.25em;
  margin-bottom: 0px;
}

.event-text-holder p {
  font-size: 0.9em;
}

.weather {
  border: 1px solid #f1f1f1;
  padding: 2%;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 10px 0px 50px 0px;
}

.weather .current-city {
  text-align: center;
  margin-bottom: 40px;
}

.weather .current-city h2 { margin: 0px; }
.weather .current-city h3 { font-size: 1em; }

.weather .nearby-cities {
  border-top: 1px solid #e1e1e1;
  padding-top: 25px;
}

.weather .weather-cities h4 {
  margin: 0px;
}

.weather .weather-cities img {
  float: left;
  margin-right: 10px;
}

.card-columns {
  column-break-inside: avoid;
}
.card-columns .card {
  display: inline-block;
  margin: 10px;
}
